
body
{
    /*background-color: #1e319e;*/
    background-image: linear-gradient(#020024 0%, #090979 35%, #00d4ff 100%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #246992, #52a4aa, #28719b, #51a0a6, #28688e);
    border: #246992 1px solid;
    border-radius: 20px;
    float: right;
    width: 100%;
    margin-right: 8px;
}

.header {
/*background-color: #435ADB;*/
background-image: linear-gradient(to right, #BF953F, #f8ef91, #B38728, #fcf391, #AA771C);
padding: 20px 0;
border-top: #866613 5px solid;
border-right: #866613 5px solid;
border-left: #866613 5px solid;
border-top-left-radius: 9px;
border-top-right-radius: 9px;
}

.header-container {

margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}

a.logo {
font-size: 2.25rem;
font-weight: 300;
color: rgb(221, 255, 255);
font-family: 'MADE Sunflower', sans-serif;
margin-left: 8px;
}

.nav-menu {
display: flex;
align-items: center;
}



.arakeia_logo { size: 5%; float: left; width: 10%;}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

@import url('https://fonts.cdnfonts.com/css/made-sunflower');

p{color: azure;font-family: 'MADE Sunflower', sans-serif;}
h1 {color: azure;font-family: 'MADE Sunflower', sans-serif;}
h2 {color: azure;font-family: 'MADE Sunflower', sans-serif;}
h3 {color: azure;font-family: 'MADE Sunflower', sans-serif;}

.container {
display: flex;
}

.rg1 {
margin: 5px;
background-color: transparent;
float: right;
width: 70%;
}

.rg1 p {margin: 11px;}

.rg1 h3 {text-align: center; font-size: 22px}

.rg2 {
text-align: center;
margin: 5px;
background-color: transparent;
float: left;
width: 30%;
}

.card {
margin-bottom: 20px;
text-align: center
}

.card .card_header {
/*background-color: #a88019 ;*/
background: linear-gradient(#a88019, #daa520, rgb(192, 150, 45), #a88019);
border-top: #866613 5px solid;
border-right: #866613 5px solid;
border-left: #866613 5px solid;
color: #fff;
padding: .75rem 1.25rem;
}

.card .card_header .card_title {
font-size: 22px
}

.card .card_body {
/*background-color: #daa520 ;*/
background-image: linear-gradient(rgb(231, 178, 43), #cfa740, #a88019);
border-bottom: #866613 5px solid;
border-right: #866613 5px solid;
border-left: #866613 5px solid;
padding: 1.25rem;
}

/*footer {
padding: 32px;
background-color: #111111;
text-align: center;
}*/

footer {
    padding: 32px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #000000, #2c2b2b, #434349, #2c2b2b, #000000);
    text-align: center;
    border: #000000 1px solid;
}

footer span {
color: rgb(221, 255, 255);
font-style: italic;
}



.logo_center:hover{
transform: scale(2.1);
}
.logo_center {
transform: scale(1.25);
margin-top: 78px;
margin-bottom: 78px;
}

.logo_center_background {
background: url('nostalgia.png');
background-repeat: no-repeat;
background-size: 15px 100px;
background-position: center;
background-size: cover;
background-attachment: fixed;
border: #866613 5px solid;
border-radius: 9px;

}

.logo_center_background1 {
    background: url('nostalgia.png');
    background-repeat: no-repeat;
    background-size: 15px 100px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: #866613 5px solid;
    border-right: #866613 5px solid;
    border-left: #866613 5px solid;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.card_header {
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.card_body {
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
